---
title: Pivotal Ready Architecture
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='exe_summary'></a>Executive Summary

Pivotal Ready Architecture (PRA) is an integrated development platform based on cloud computing and storage. It offers high performance potential, convenience, and addresses the challenges of creating, testing, and updating applications in a consolidated production environment.

## <a id='benefits'></a>Key Benefits

PRA enables you to quickly and reliably create an integrated development platform and provides a variety of deployment options to meet your needs. It is a tested PCF deployment that uses the scalable, hyper-converged Dell EMC VxRail Appliance and VMware vSphere with VMware vSAN and NSX-T Data Center. With PRA, you can deploy a production-ready PAS environment or Enterprise PKS Kubernetes clusters more quickly and more reliably than when using a do-it-yourself approach.

The PAS and Enterprise PKS deployments are designed to meet application operational needs. Dell EMC, VMware, and Pivotal Services can help with installing and testing PRA in your IT environment. IT professionals tasked with planning compute, network, and storage capacity can work with Dell EMC Services to determine the sizing requirements for these resources

PRA enables developers to publish, run, and scale legacy, COTS, and cloud-native applications. The PRA platform is based on an integrated infrastructure that enables IT operators to easily manage and scale the development environment with tools such as VxRail Manager and PCF Operations Manager.

With PRA, you benefit from:

* Reference architectures for a variety of highly available Pivotal software deployments
* Private cloud and infrastructure services with simplified deployment
* Highly available platform on which to develop, and quickly deploy applications, reducing the time for application delivery
* Modern developer platforms, that boost developer productivity by combining application services, service discovery, container management, and orchestration within an ecosystem of developer tool plug-ins
* Consistent cloud solution, providing increased reliability, portability, and agility

## <a id='bill_of_materials'></a>Versions and Bill of Materials

### Validated Versions And Interoperability For This Release

This recommended architecture includes VMware vSphere and NSX-T Data Center, a software-defined network virtualization that runs on VMware ESXi virtual hosts and combines routing, firewall, NAT/SNAT, and load balancing.

#### Supported Software Components For Interoperability

| Software Component|    Version |
| ------------- | -------------|
|VxRail HCI System|4.7.200 and newer|
|VMware vSphere ESXi|6.7 express patch 7 GA build 13004448|
|VMware vSphere vCenter (VCSA)|v6.7U1b GA build 11726888|
|VMware vSAN|v6.7 express patch 7|
|VMware NSX-T Data Center|2.3.1|
|Pivotal Ops Manager|2.5.latest|
|Pivotal PAS|2.5.latest|
|Pivotal/VMware Enterprise PKS|1.4.latest|
|VMware NSX-T Container Plug-in for PCF|2.3.latest|
|Dell EMC ECS|[untested in this release]|

To use all the features listed here, NSX-T Data Center **requires at least Advanced licensing** from VMware when used with PAS. The equivalent of that licensing is included with the Enterprise PKS product.

The following Bill of Materials was used to validate this interoperability matrix. These systems were selected as broadly representative of the common customer installations and do not represent an exhaustive list of possibilities.

#### Lab Validated Components BOM

| Component| Version or Model |
| ------------- | -------------|
|VxRail HCI System Software|E560|
|VxRail Node Type|4.7.200 and newer|
|VxRail BIOS|1.6.12|
|VxRail iDRAC Firmware|3.32.32.32|
|VxRail CPU (x2)|Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz|
|VxRail NIC|Intel(R) 10GbE 4P X710 rNDC 4 port|
|VxRail RAM (x12) per|32GB (x12) DDR-4 2400Mhz|
|Flash Storage (Cache) (x2)|Toshiba PX05SMB080Y 800GB (x2)|
|HDD (Capacity) (x4)|Seagate ST2000NX0423 2TB (x4)|
|Enterprise PKS version|1.4.0|
|PAS version|2.5.4|
|Pivotal Ops Manager version|2.5.3|
