---
title: VMware Tanzu Architecture for Dell EMC VxRail
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='exe_summary'></a>Executive Summary

VMware Tanzu Architecture for Dell EMC VxRail (TA4V) is an integrated environment built on [hyperconverged](https://www.dellemc.com/en-us/converged-infrastructure/hyper-converged-infrastructure.htm) hardware/software infrastructure. It offers you high performance potential, convenience, and it addresses the challenges of creating, testing, and updating applications in a consolidated production environment. This represents a choice of validated architectures anyone can adopt to get proven operational benefits. The architectures are organized to provide a pathway for growing your environment from a minimal single cluster system to a multiple cluster architecture.

## <a id='benefits'></a>Key Benefits

TA4V enables you to quickly and reliably create an integrated application deployment platform and provides a variety of platform sizes to meet your needs. It is a validated set of architectures that use the scalable, hyper-converged Dell EMC VxRail Appliance along with VMware vSphere, VMware vSAN and NSX-T Data Center products. With TA4V, you can deploy production-ready application container environments quickly and reliably compared to a build-it-yourself approach.

Several application container technologies such as TKG and TAS, are designed to meet application operational needs. Professional Services engagements from Dell EMC and VMware can help with installing and testing TA4V in your IT environment. Your IT professionals who are tasked with planning compute, network, and storage capacity can work with Dell EMC Professional Services to determine the requirements for these resources.

TA4V enables developers to quickly publish, run, and scale legacy software, packaged software, and cloud-native applications. The TA4V platform is based on an integrated infrastructure that enables IT operators to easily manage and scale the development environment with tools such as VxRail Manager and Tanzu Operations Manager.

With TA4V, your organization will benefit from:

* Reference architectures for a variety of highly available Tanzu application platforms
* Private cloud and infrastructure services with simplified deployment
* Highly available platforms on which to develop and quickly deploy applications, and which reduce application delivery times
* Modern developer platforms that boost developer productivity by combining application services, service discovery, container management, and orchestration within an ecosystem of developer tool plug-ins
* Consistent cloud solutions, providing increased reliability, portability, and agility
* Lifecycle management from the lowest level hardware system firmware to the highest level of application container deployment system of choice

## <a id='bill_of_materials'></a>Versions and Bill of Materials

### Validated Versions And Interoperability For This Release

This recommended architecture includes VMware vSphere and NSX-T Data Center, a software-defined network virtualization technology that runs on VMware ESXi hosts and combines routing, firewalling, NAT/SNAT, and load balancing. It also includes an application container layer from several choices available in the VMware Tanzu portfolio.

#### Supported Software Components For Interoperability

| Software Component|    Version |
| ------------- | -------------|
|VxRail HCI System Software|4.7.510 and newer|
|VMware vSphere ESXi|6.7 Patch 02 GA build 16075168|
|VMware vCenter (VCSA)|6.7 U3g GA build 16046470|
|VMware vSAN|vSAN 6.7 Patch 02|
|VMware NSX-T Data Center|2.5.1|
|Ops Manager|2.9.latest|
|Tanzu Application Service for VMs|2.9.latest|
|VMware Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS) |1.8.latest|
|VMware NSX-T Container Plug-in for TAS|3.0.1|
|VMware Harbor Registry|1.10.latest|
|Dell EMC ECS|3.3.X|

To use all the features listed here, NSX-T Data Center **requires at least Advanced licensing** from VMware when used with TAS for VMs. The equivalent of that licensing is included with TKGI.

The following Bill of Materials (BOM) along with sample applications, was used to validate a running platform. These components were selected as broadly representative of common customer installations.

#### Lab Validated Components BOM

| Component| Version or Model |
| ------------- | -------------|
|VxRail Node Type|E560|
|VxRail HCI System Software|4.7.510|
|VxRail BIOS|2.6.4|
|VxRail iDRAC Firmware|4.10.10.10|
|VxRail CPU (x2)|Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz|
|VxRail NIC|Intel(R) 10GbE 4P X710 rNDC 4 port|
|VxRail RAM (x12) per|32GB (x12) DDR-4 2400Mhz|
|Cache Tier|Toshiba PX05SMB080Y 800GB (x2)|
|Capacity Tier|Seagate ST2000NX0423 2TB (x4)|
|VMware NSX-T Data Center|2.5.1|
|VMware Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS)|1.7.0|
|Tanzu Application Service for VMs|2.9.5|
|Ops Manager|2.9.5|
|VMware Harbor Registry|1.10.3|
|Dell EMC ECS|3.3.0|

<p class="note"><strong>NCP 3.0.1 and Stemcell incompatibility: </strong>Both TAS and TKGI in this release use NCP 3.0.1 and it is not compatible with bosh stemcell 621.76+ and Ops Manager 2.9.6. Please refer to the product release notes and fix before upgrading Ops Manager beyond 2.9.6</p>
