---
title: VMware Tanzu Architecture for Dell EMC VxRail
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='exe_summary'></a>Executive Summary

VMware Tanzu Architecture for Dell EMC VxRail (TA4V) is an integrated environment built on [hyperconverged](https://www.dellemc.com/en-us/converged-infrastructure/hyper-converged-infrastructure.htm) hardware/software infrastructure. It offers you high performance potential, convenience, and it addresses the challenges of creating, testing, and updating applications in a consolidated production environment. This describes a set of validated architectures anyone can adopt to get proven operational benefits. The architectures are organized to provide a pathway for growing your environment from a minimal single cluster system to a multiple cluster architecture.

## <a id='benefits'></a>Key Benefits

TA4V enables you to quickly and reliably create an integrated application deployment platform and provides a variety of platform sizes to meet your needs. It is a validated set of architectures that recommands the scalable, hyper-converged Dell EMC VxRail Appliance along with VMware vSphere, VMware vSAN and NSX-T Data Center products. With TA4V, you can deploy production-ready application container environments quickly and reliably compared to a build-it-yourself approach.

Several application container technologies such as TKGI and TAS, are designed to meet application operational needs. Professional Services engagements from Dell EMC and VMware can help you install and test TA4V in your IT environment. Your IT professionals who are tasked with planning compute, network, and storage capacity can work with Dell EMC Professional Services to determine the requirements for these resources.

TA4V enables developers to quickly publish, run, and scale legacy software, packaged software, and cloud-native applications. The TA4V platform is based on an integrated infrastructure that enables IT operators to easily manage and scale the development environment with tools such as VxRail Manager and Tanzu Operations Manager.

With TA4V, your organization will benefit from:

* Reference architectures for a variety of highly available Tanzu application platforms
* Private cloud and infrastructure services with simplified deployment
* Highly available platforms on which to develop and quickly deploy applications, and which reduce application delivery times
* Modern developer platforms that boost developer productivity by combining application services, service discovery, container management, and orchestration within an ecosystem of developer tool plug-ins
* Consistent cloud solutions, providing increased reliability, portability, and agility
* Lifecycle management from the lowest level hardware system firmware to the highest level of application container deployment system of choice

## <a id='bill_of_materials'></a>Versions and Bill of Materials

### Validated Versions And Interoperability For This Release

This recommended architecture includes VMware vSphere and NSX-T Data Center, a software-defined network virtualization technology that runs on VMware ESXi hosts and combines routing, firewalling, NAT/SNAT, and load balancing. It also includes an application container layer from several choices available in the VMware Tanzu portfolio.

#### Supported Software Components For Interoperability

| Software Component|    Version |
| ------------- | -------------|
|VxRail HCI System Software|7.0.1xx|
|VMware vSphere ESXi|7.0 U1 GA build 16850804|
|VMware vCenter (VCSA)|7.0 U1 GA build 16860138|
|VMware vSAN|7.0 U1|
|VMware NSX-T Data Center|3.0.2|
|VMware NSX-T Container Plug-in (NCP)|3.0.2.2|
|Operations Manager|2.10.latest|
|VMware Tanzu Kubernetes Grid Integrated (TKGI) |1.9.latest|
|Tanzu Application Service (TAS) for VMs|2.10.latest|
|VMware Harbor Registry|2.1.latest|
|Dell EMC ECS|3.3.X|

To use all the features listed here, NSX-T Data Center **requires at least Advanced licensing** from VMware when used with TAS for VMs. The equivalent of that licensing is included with TKGI.

The following Bill of Materials (BOM) along with sample applications, was used to validate a running platform. These components were selected as broadly representative of common customer installations.

#### Lab Validated Components BOM

| Component| Version or Model |
| ------------- | -------------|
|VxRail Node Type|E560F|
|VxRail HCI System Software|7.0.100|
|VxRail BIOS|2.8.2|
|VxRail iDRAC Firmware|4.22.00.201|
|VxRail CPU (x2)|Intel(R) Xeon(R) Gold 5120 CPU @ 2.20GHz|
|VxRail NIC|Intel(R) 10GbE 4P X710 rNDC 4 port (only 2 used)|
|VxRail RAM (x12) per|32GB (x12) DDR-4 2400Mhz|
|Flash Storage (Cache/Capacity)|Toshiba KPM5XRUG1T92 1.92TB (x4), Toshiba KPM5XMUG800G 800GB (x2)|
|VMware NSX-T Data Center|3.0.2|
|VMware NSX-T Container Plug-in (NCP)|3.0.2.2|
|Tanzu Operations Manager|2.10.2|
|VMware Tanzu Kubernetes Grid Integrated (TKGI)|1.9.1|
|Tanzu Application Service (TAS) for VMs|2.10.8|
|VMware Harbor Registry|2.1.1|
|Dell EMC ECS|3.3.0|

<p class="note">NSX Container Plugin 3.0.2.2 is a patch release. It resolves an OVS kernel module compilation issue on Stemcells 621.85 and above, 456.121 and above.</p>
