---
title: Minimal Viable Platform
owner: Customer[0]
---

<strong><%= modified_date %></strong>

Starting small is a great way to establish a container-ready infrastructure. You can read more about each of the key components in subsequent chapters but at this point we introduce the smallest individual configuration recommended for getting started. This configuration is considered stable and functional for trials, small application deployments (those requiring only host level fault tolerance), and remote/branch office operation.

## <a id='starter_kit'></a>Enterprise PKS & PAS Starter Kit

PKS Starter Kit
![PKS Starter Kit](./images/PRA_PKS_vSphere_NSX-T_MVP1.png)
[View a larger version of this diagram](./images/PRA_PKS_vSphere_NSX-T_MVP1.png).

PAS Starter Kit
![PAS Starter Kit](./images/PRA_PAS_vSphere_NSX-T_MVP1.png)
[View a larger version of this diagram](./images/PRA_PAS_vSphere_NSX-T_MVP1.png).

**This configuration includes the following key components:**

* VxRail Appliances in a four node configuration
* VxRail HCI System Software deployed for server and vSphere provisioning
* Leaf switching in a redundant configuration to connected to a spine switch
* vSAN storage configured for full system use
* NSX-T Data Center software-defined networking for either PAS, Enterprise PKS or both
* App container platform of choice (PAS and/or Enterprise PKS from Pivotal)
* Host groups as needed to organize components for high availability

**There are a few trade-offs made in the Starter Kit platform worth understanding, including:**

* Overall capacity for apps is shared with the management infrastructure
* Management and operational components are kept to a minimum to reduce waste and also reduce recovery after a failure event
* Storage is at the minimum viable configuration for stable operation during service and unplanned outages

Opportunities for growth will be discussed in subsequent chapters.
