---
title: Minimal Viable Platform
owner: Customer[0]
---

<strong><%= modified_date %></strong>

Starting small is a great way to establish a container-ready infrastructure. You can read more about each of the key components in subsequent chapters but at this point we introduce the smallest single configuration recommended for getting started. This configuration is validated as stable and functional for timed trials, proofs-of-concept, small, non-production-grade application deployments requiring only host level fault tolerance, and remote/branch office operation.

## <a id='starter_kit'></a>Starter Kit Applied to TAS for VMs or TKG-i

Starter Kit Applied to TAS for VMs
![TAS4VMs Starter Kit](./images/TA4V_PAS4VMs_vSphere_NSX-T_MVP1.png)
[View a larger version of this diagram](./images/TA4V_PAS4VMs_vSphere_NSX-T_MVP1.png).

Starter Kit Applied to TKG-i
![TKGi Starter Kit](./images/TA4V_TKGi_vSphere_NSX-T_MVP1.png)
[View a larger version of this diagram](./images/TA4V_TKGi_vSphere_NSX-T_MVP1.png).

**This configuration includes the following key components:**

* VxRail Appliances in a four node configuration
* VxRail HCI System Software deployed for server firmware and vSphere provisioning
* Leaf-Spine switching in a redundant configuration (not shown)
* vSAN storage configured as sole storage target
* App container platform of choice, either Tanzu Application Platform (TAS) for VMs or Tanzu Kubernetes Grid-integrated (TKG-i)
* NSX-T Data Center network virtulization and security platform for either TAS, TKG-i or both
* Host groups as needed to organize components for high availability

**There are a few trade-offs made in the Starter Kit platform worth understanding, including:**

* Overall capacity for apps is shared with the management infrastructure
* Management and operational components are kept to a minimum to reduce waste and speed recovery after a failure event
* Storage is purposely kept simple for stable operation during service outages, patching or unplanned outages
* A single host can be out of service at any one time but no more for normal operations

The next steps of system growth will be discussed in subsequent chapters.
