---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---
<strong><%= modified_date %></strong>

## <a id='3.0.0'></a>3.0.0

**Release Date**: January 04, 2021

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail v3.0
  - VxRail 4.7.5XX -> 7.0.100
  - NSX-T 2.5.1 -> 3.0.2
  - Ops Manager 2.9 -> 2.10
  - Tanzu Application Service for VMs 2.9 -> 2.10
  - VMware NSX-T Container Plug-in for TAS 3.0.1 -> 3.0.2.2
  - Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS) 1.8 -> 1.9
  - VMWare Harbor Registry 1.10 -> 2.1
- [Tanzu Application Service 2.10 Release Notes](https://docs.pivotal.io/application-service/2-10/overview/release-notes/runtime-rn.html)
- [Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS) 1.9 Release Notes](https://docs.pivotal.io/tkgi/1-9/release-notes.html)
- NSX-T 3.0.2 now supports an "extra-large" edge vm size, which can improve transactional throughput of TKGI cluster & TAS foundation loadbalancers.  For more information, see [NSX Edge VM System Requirements](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.0/installation/GUID-22F87CA8-01A9-4F2E-B7DB-9350CA60EA4E.html)
- NSX-T 3.0.x supports Converged Virtual Distributed Switch (C-VDS) for host transport zone attachment.  This allows for deployment of hardware using 2-nic design instead of 4-nic.  Validations of this release were performed using this design.
- No upgrade validation has been performed with this release due to the above C-VDS design change; there is no upgrade path for platforms deployed with previous n-VDS (4-nic) designs.