---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---
<strong><%= modified_date %></strong>

## <a id='3.0.0'></a>3.0.0

**Release Date**: tbd

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail v3.0
 