---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---
<strong><%= modified_date %></strong>

## <a id='3.3.0'></a>3.3.0

**Release Date**: April 7, 2022

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail v3.3
  - VxRail 7.0.202 -> 7.0.320
  - NSX-T 3.1.0 -> 3.1.3
  - Ops Manager 2.10
  - Tanzu Application Service for VMs 2.10 -> 2.11
  - Tanzu Kubernetes Grid Integrated  1.11.2 -> 1.12.3
  - VMware Harbor Registry 2.2.2 -> 2.4.1
- [NSX-T 3.1.3 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/VMware-NSX-T-Data-Center-313-Release-Notes.html)
- [Tanzu Kubernetes Grid Integrated 1.12.3 Release Notes](https://docs.pivotal.io/tkgi/1-12/release-notes.html)
