---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---
<strong><%= modified_date %></strong>

## <a id='2.4.0'></a>2.4.0

**Release Date**: tbd

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail 2.4
 