---
title: Pivotal Ready Architecture Release Notes
owner: Cloud Cache Engineers
---

## <a id='2.1.0'></a>2.1.0

- Bill of materials update since PRA 2.0
  - VxRail 4.7.200 -> 4.7.212
  - NSX-T 2.3.1 -> 2.4.1
  - Ops Manager 2.5 -> 2.6
  - PAS 2.5 -> 2.6
  - PAS NCP 2.3 -> 2.4
  - PKS 1.4 -> 1.5
- [Pivotal Cloud Foundry 2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/)
- [Pivotal Container Service 1.5 Release Notes](https://docs.pivotal.io/pks/1-5/release-notes.html)
- [NSX-T 2.4 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4.0/rn/VMware-NSX-T-Data-Center-240-Release-Notes.html)
- [Harbor Release Notes](https://docs.pivotal.io/partners/vmware-harbor/release-notes.html)
- Add a [PAS starter kit diagram](/pra/2-2/mvp.html#starter_kit)
- Update [NSX-T 2.4 capacity](/pra/2-2/routing.html#nsxt_lb)
- Section to explain [PKS + NSX-T integration for ingress traffic](/pra/2-2/routing.html#nsxt_lb)
- Reference Diagram: Show management components (E.g. NSX-T Manager and vCenter) in the management cluster
