---
title: Pivotal Ready Architecture Release Notes
owner: Cloud Cache Engineers
---

## <a id='2.1.0'></a>2.1.0

- Bill of materials update since PRA 2.0
  - VxRail 4.7.212 -> 4.7.300
  - NSX-T 2.4.x -> 2.5.0
  - Ops Manager 2.6 -> 2.7
  - PAS 2.6 -> 2.7
  - PAS NCP 2.4 -> 2.5
  - PKS 1.5 -> 1.6
  - Harbor 1.8.6 -> 1.9.3
- [Pivotal Platform 2.7 Release Notes](https://docs.pivotal.io/pivotalcf/2-7/pcf-release-notes/)
- [Pivotal Container Service 1.6 Release Notes](https://docs.pivotal.io/pks/1-6/release-notes.html)
- [NSX-T 2.5 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/rn/VMware-NSX-T-Data-Center-250-Release-Notes.html)
- Tier-1 Placement Inside Edge Cluster Based on Failure Domain (NSX-T 2.5 feature)
