---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---
<strong><%= modified_date %></strong>

## <a id='3.3.0'></a>3.4.0

**Release Date**: August 15, 2022

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail v3.4
  - VxRail 7.0.320 -> 7.0.372
  - NSX-T 3.1.3 -> 3.2.1
  - Ops Manager 2.10
  - Tanzu Application Service for VMs 2.11 -> 2.13
  - Tanzu Kubernetes Grid Integrated  1.12 -> 1.13
  - VMware Harbor Registry 2.4 -> 2.5
- [NSX-T 3.2.1 Release Notes](https://docs.vmware.com/en/VMware-NSX/3.2.1/rn/vmware-nsxt-data-center-321-release-notes/index.html)
- [Tanzu Kubernetes Grid Integrated 1.13.6 Release Notes](https://docs.pivotal.io/tkgi/1-13/release-notes.html)
