---
title: Tanzu Architecture for Dell EMC VxRail Release Notes
owner: Customer[0]
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note</strong>: Pivotal Platform is now part of VMware Tanzu. In v2.3.0 and later, Pivotal Ready Architecture (PRA) is named VMware Tanzu Architecture for Dell EMC VxRail (TA4V).</p>

## <a id='2.3.0'></a>2.3.0

**Release Date**: April 29, 2020

- Bill of materials update since VMware Tanzu™ Architecture for Dell EMC VxRail 2.3
  - VxRail 4.7.3XX -> 4.7.410
  - NSX-T 2.5.0 -> 2.5.1
  - Ops Manager 2.7 -> 2.8
  - Tanzu Application Service for VMs (Pivotal Application Service) 2.7 -> 2.8
  - VMware NSX-T Container Plug-in for TAS 2.5.0 -> 2.5.1
  - Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS) 1.6 -> 1.7
  - VMware Harbor Registry 1.9.3 -> 1.9.3
- [Tanzu Application Service 2.8 Release Notes](https://docs.pivotal.io/platform/2-8/release-notes/)
- [Tanzu Kubernetes Grid Integrated (VMware Enterprise PKS) 1.7 Release Notes](https://docs.pivotal.io/pks/1-7/release-notes.html)
- [NSX-T 2.5.1 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5.1/rn/VMware-NSX-T-Data-Center-251-Release-Notes.html)
