---
title: Storage
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='TKGi_storage'></a>Kubernetes Storage Considerations (TKGI Storage)

TKGI can be used to manage multiple Kubernetes clusters distributed across multiple vSphere clusters. Each kubernetes cluster's storage requirements are determined from the applications planned but are limited by the size of the cluster. Detailed guidance on how to configure and manage storage can be found in the [TKGI Documentation](https://docs.pivotal.io/tkgi/1-9/volumes.html).

The VxRail servers used in TA4V include vSAN, which is well suited to TKGI needs on a per vSphere cluster basis, or in the stretched cluster approach (MVP2) using vSAN Fault Domains. This will provide storage for the TKGI installation in each AZ. But you may need storage for stateful applications. You can not look to vSAN to satisfy the storage needs for cross-cluster common storage.

**TKGI storage options to support stateful apps include:**

* NFS
* iSCSI connected datastores
* Fiber Channel connected datastores

In order to use external connected datastores across all clusters, each cluster must be connected separately.

vSAN does not support sharing datastores across vSphere clusters. As fail-over across availability zones is desired in the multiple cluster architecture, deploying external shared storage across those vSphere clusters / availability zones such as NFS/iSCSI/FC for both static and dynamic persistent volume provisioning for stateful workloads is recommended. Please refer to [TKGI Documentation](https://docs.pivotal.io/tkgi/1-9/volumes.html) for the implementation details of persistent volumes.

In summary: You must provide a shared storage target for TKGI to use across all clusters in use for stateful apps that can not be a cluster's vSAN, unless there is only one cluster used by TKGI, or shared storage is not drawn from vSAN, or no stateful applications can be deployed.

## <a id='tas4vms_storage'></a>Cloud Foundry Storage Considerations (TAS for VMs Storage)

VMware recommends the following capacity allocation for TAS for VMs installations:

* For production use, at least 8 TB of available capacity, either as one 8 TB store or a number of smaller volumes adding up to 8 TB. High churn or heavily used development foundations may require significantly more storage to accommodate new code and buildpacks. A "development" PaaS installation will see signifcantly higher storage consumption than a "production" one due to rapid app prototyping and blob creation.
* For small installations without many tiles, 4-6 TB may suffice.
* The primary consumer of storage is the NFS/WebDAV blobstore included in TAS for VMs. This job can be externalized to a hardware or emulated software S3-compatible blob store (see below).
* Do not use the included TAS for VMs blob store VM in any production PaaS Foundation.

## <a id='tas4vms_storage'></a>TAS for VMs Blobstore Options

### <a id='elastic_cloud_storage'></a>Elastic Cloud Storage

Dell EMC ECS object storage features a flexible software-defined architecture that provides the simplistic benefits of the public cloud without the risk, compliance, and data sovereignty concerns.

TA4V can use the ECS platform as its blobstore location to store application code, buildpacks, and applications. The blobstore uses the S3 protocol and can be managed by ECS nodes. The ECS platform provides software-defined object storage that is designed for modern cloud-scale storage requirements.

With Dell EMC ECS, VMware recommends that you use unversioned buckets for file storage
by clearing the **Use versioning for backup and restore** checkbox in the
**File Storage** pane of the TAS for VMs tile.
For information, see _Step 3: Configure PAS File Storage_ in [this Dell EMC ECS whitepaper](https://www.dellemc.com/resources/en-us/asset/white-papers/products/storage/h17569_wp_ecs_with_pivotal_cloud_foundry_config_guide_and_best_practices.pdf).
You can use mirroring as an alternative to versioning.


### <a id='virtual_stream_storage'></a>Virtustream Storage Cloud

Virtustream Storage Cloud is a hyper-scale, enterprise-class, public cloud object storage platform, built for resiliency and performance. Virtustream provides a unique value proposition with enterprise-class off-premises primary and backup storage.

### <a id='internal_blobstore'></a>Internal Blobstore

TAS for VMs provides an internal WebDAV blobstore that can be used to store persistent data. The TAS for VMs internal blobstore is deployed as a single virtual machine in TAS for VMs. It does not offer high availability but can be backed up using BOSH Backup and Restore (BBR). It is designed for small, non-production deployments. For TAS for VMs production-level deployments, Dell EMC and VMware recommend using an external S3-compatible blobstore.
