---
title: Summary And Conclusions
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='pas_and_pks'></a>PAS and PKS Installation

A fully meshed Enterprise PKS and PAS installation based on best practices and reference design considerations will look as follows:

![PKS Starter Kit](./images/PRA_PAS_PKS_vSphere_NSX-T_MVP2.png)

Common elements are the NSX T0 router and the associated T1 routers. This approach allows for any possible cross traffic between Enterprise PKS and PAS apps to stay within the bounds of the T0 router and not exit the NSX overlay. This also provides a convenient, singular access point to the whole installation, making deployments of multiple, identical installations easier to automate.

## <a id='further_considerations'></a>Further Considerations

It continues to be a good design choice to use Resource Pools in vSphere Clusters as AZ constructs to stack different installations of PCF. As server capacity continues to increase, the efficiency of deploying independent clusters of a server just for one install of one product is low. As customers are commonly deploying servers approaching 1T of RAM, stacking many PCF installations in these clusters improves overall resource utilization.

Pay close attention to the maximum configuration maximums allowed per NSX-T Data Center installation. These targets change quickly as the NSX-T evolves, but you may find that a NSX-T Data Center installation per deployment potentially consumes all of the capacity of a NSX install (not a vSphere install). It’s reasonable to consider a NSX-T Data Center installation per deployment to allow maximum capacity growth.

You may be tempted to split the PAS and Enterprise PKS installations into seperate network parent/child configurations, behind separate T0 routers. Before doing this, review [VMware’s best practices](https://www.vmware.com/support/pubs/vmware-validated-design-pubs.html) for T0 to T0 routing efficiencies and weaknesses to ensure that approach meets your needs.

Please review the reference guidance from VMware for this solution, which is much more detailed in the IaaS constructs than shown [here](https://communities.vmware.com/docs/DOC-38609).
