---
title: Upgrade Validation
owner: Customer[0]
---

<strong><%= modified_date %></strong>

## <a id='summary'></a>Upgrade Validation

Every edition of this publication is built on the one before it and each new edition is validated as an upgrade from the prior version. The BOM from the previous edition is loaded on a standard size hardware platform and verified working, then an upgrade process is run that parallels how customers would accomplish the same activity. Notes on issues and outages are made and supplied back R&D for each of the products in use. If any failures or outages are found that compromise the system, the process halts and feedback is provided. We do not publish a new TA4V edition (what you are reading now) unless a successful upgrade has been performed.

This process is run on both a TAS for VMs installation and a TKGI installation separately. A load generator is used to verify proper PaaS operation prior and post upgrade. A suite of standard benchmark and thruput tests are performed as well.

Here is the BOM of the previous edition that was loaded for upgrade testing.

| Components|Previous Version|Upgrade Version|
| -----------|-------------|-----------|
|VxRail|4.7.410|4.7.510|
|NSX-T|2.5.1|2.5.1|
|TAS for VMs|2.8.5|2.9.5|
|TKGI|1.7.1|1.8.0|
|OpsMan|2.8.5|2.9.5|
|NCP|2.5.1|3.0.1|
|Harbor|1.10.1|1.10.3|
